In [4]:
# from
# https://randlow.github.io/posts/finance-economics/pandas-datareader-KF/
# cl: modified to have "%Y-%m-%d" index format
##
import pandas as pd
import pandas_datareader.data as web  # module for reading datasets directly from the web
from pandas_datareader.famafrench import get_available_datasets
from pandas.tseries.offsets import MonthEnd # to convert "%Y-%m" to "%Y-%m-%d"

datasets = get_available_datasets()
print('No. of datasets:{0}'.format(len(datasets)))
df_5_factor = [dataset for dataset in datasets if '5' in dataset and 'Factor' in dataset]
print(df_5_factor)
# Taking [0] as extracting 1F-F-Research_Data_Factors_2x3')
ds_factors = web.DataReader(df_5_factor[0],'famafrench',start='1963-07-01') # we can add end='2019-06-30' 
print('\nKEYS\n{0}'.format(ds_factors.keys()))
print('DATASET DESCRIPTION \n {0}'.format(ds_factors['DESCR']))
#ds_factors[0].head()
dfFactor = ds_factors[0].copy()/100
dfFactor.rename(columns={'Mkt-RF':'MktRF'}, inplace=True)
dfFactor.index = pd.to_datetime(dfFactor.index.to_timestamp(), format="%Y-%m") + MonthEnd(1)

No. of datasets:286
['F-F_Research_Data_5_Factors_2x3', 'F-F_Research_Data_5_Factors_2x3_daily', 'Global_5_Factors', 'Global_5_Factors_Daily', 'Global_ex_US_5_Factors', 'Global_ex_US_5_Factors_Daily', 'Europe_5_Factors', 'Europe_5_Factors_Daily', 'Japan_5_Factors', 'Japan_5_Factors_Daily', 'Asia_Pacific_ex_Japan_5_Factors', 'Asia_Pacific_ex_Japan_5_Factors_Daily', 'North_America_5_Factors', 'North_America_5_Factors_Daily']

KEYS
dict_keys([0, 1, 'DESCR'])
DATASET DESCRIPTION
 F-F Research Data 5 Factors 2x3
-------------------------------

This file was created by CMPT_ME_BEME_OP_INV_RETS using the 201906 CRSP database. The 1-month TBill return is from Ibbotson and Associates Inc.

  0 : (672 rows x 6 cols)
  1 : Annual Factors: January-December (55 rows x 6 cols)

In [5]:
dfFactor.head()

             MktRF     SMB     HML     RMW     CMA      RF
Date
1963-07-31 -0.0039 -0.0047 -0.0083  0.0066 -0.0115  0.0027
1963-08-31  0.0507 -0.0079  0.0167  0.0039 -0.0040  0.0025
1963-09-30 -0.0157 -0.0048  0.0018 -0.0076  0.0024  0.0027
1963-10-31  0.0253 -0.0129 -0.0010  0.0275 -0.0224  0.0029
1963-11-30 -0.0085 -0.0084  0.0171 -0.0045  0.0222  0.0027

In [6]:
dfFactor.tail()

             MktRF     SMB     HML     RMW     CMA      RF
Date
2019-02-28  0.0340  0.0173 -0.0284  0.0026 -0.0147  0.0018
2019-03-31  0.0110 -0.0357 -0.0407  0.0091 -0.0102  0.0019
2019-04-30  0.0396 -0.0114  0.0198  0.0174 -0.0213  0.0021
2019-05-31 -0.0694 -0.0153 -0.0238 -0.0029  0.0184  0.0021
2019-06-30  0.0693  0.0040 -0.0108  0.0094 -0.0035  0.0018