In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import time

pd.set_option('display.max_columns', 10)

filepath = 'C:\\Users\\xyz\\Documents\\Python Scripts\\xyzSQL\\'
sql_scheme_file = 'tables_template.xlsx'

# create new database xyz and connect to
# in mysql command line client (pw missql)
# mysql> CREATE DATABASE xyz;
# SHOW DATABASES;

import pymysql
pymysql.install_as_MySQLdb()
import sqlalchemy as sql
# ************
# ************ //user:password@serverhost/dbname
# https://docs.sqlalchemy.org/en/13/core/engines.html
# dialect+driver://username:password@host:port/database
# 'oracle://scott:tiger@127.0.0.1:1521/sidname'

connect_string = 'mysql://Chrigoo:missql@localhost/xyz'
# ************
# ************
sql_engine = sql.create_engine(connect_string)
sql_engine.execute('show tables').fetchall() # show all tables
# how many prices
pd.DataFrame(sql_engine.execute("SELECT COUNT(1) FROM prices").fetchall()) 
# How many rows for Gross Profit
pd.DataFrame(sql_engine.execute("SELECT COUNT(1) FROM fundamdata WHERE dataitemid=10").fetchall()) 

# sectors and regions
pd.DataFrame(sql_engine.execute("SELECT DISTINCT sectorname FROM sectors").fetchall()) 
pd.DataFrame(sql_engine.execute("SELECT DISTINCT region FROM regions").fetchall())

                          0
0  United States and Canada
1                    Europe

In [ ]:
# -----------------------------------------------------------------------------
# import xyz SQL tables and save to SQL database
# -----------------------------------------------------------------------------
sheet_name_list = ['FundamData', 'FundamDataGlossary', 'Sectors', 'Regions',
                   'Prices', 'Returns']
for sn in sheet_name_list:
    print(sn)
    d = pd.read_excel(os.path.join(os.path.join(filepath, sql_scheme_file)),
                                   sheet_name=sn)
    print(d.shape) # (, )
    print(d.head())
    # upload to sql (create table if not exists, overwrite else)
    d.to_sql(con=sql_engine, name=sn.lower(), if_exists='replace', chunksize=500000) # .iloc[:int(1e6)] int(1e6)
    del(d)
    sql_engine.dispose()

sql_engine.execute('show tables').fetchall() # show all tables

# all sheets in xyz sql scheme xlsx uploaded as tables to mysql db 'xyz'

In [3]:
# -----------------------------------------------------------------------------
# source fundamental data from MySQL database
# -----------------------------------------------------------------------------


#    query_string = """SELECT f.d, f.companyid, f.tradingItemId, f.companyname, s.sectorname, 
#    r.region FROM fundamdata f JOIN sectors s ON f.companyid=s.companyid JOIN 
#    regions r ON f.companyid=r.companyid;"""
#    
## WORKS: sector NOT IN 'Financials' and dataitem=10 (gross profit)
# # pure query_string, also to work in sql editor
#    query_string = """SELECT d, companyid, dataitemvalue FROM fundamdata WHERE 
#    d > '2011-04-30' AND companyid NOT IN (SELECT companyid FROM sectors WHERE 
#    TRIM(sectorName) IN ('Financials', 'Financials')) AND dataitemid='10' 
#    AND companyid IN (SELECT DISTINCT companyid FROM regions WHERE TRIM(region) 
#    IN ('United States and Canada', 'United States and Canada')) 
#    ORDER BY companyid, d;""" # 


# if only one sector to exclude: ('x', 'x') otherwise below: '{}'

# ************
# ************
dataitemid = 10 # 10, 1007, 1072
start_date = '2011-04-30' 
sectors_to_exclude = ('Financials', 'Financials')#('Information Technology', 'Financials') # watch out below: {}, not '{}'
regions_to_include = ('United States and Canada', 'United States and Canada')
# ************
# ************
fundam_lookup = {10: 'gross_profit',
                 1007: 'tot_assets',
                 1072: 'tot_sh_outs'}
# 10 Gross Profit
# 34	Cost of Goods Sold, Total
# 300	Sales

# 1007 Total Assets
# 1008 Total Current Assets

# companyid vs tradingitemid
#https://pdfs.semanticscholar.org/4a15/1215648ebb26530d08c11ce4b9d3efc9d928.pdf
# For securities that have stopped trading, Capital IQ excel plug-in only 
# provides their trading item Ids, which do not directly contain exchange 
# information

col_names = ['date', 'tradingitemid', fundam_lookup[dataitemid]] # 'value'
query_string = ("""SELECT d, tradingitemid, dataitemvalue 
                FROM fundamdata WHERE d > '{}' AND
                companyid NOT IN (SELECT companyid FROM sectors WHERE 
                TRIM(sectorName) IN {}) AND dataitemid='{}' AND 
                companyid IN (SELECT DISTINCT companyid FROM regions WHERE 
                TRIM(region) IN {})
                ORDER BY tradingitemid, d;""").format(start_date,
                sectors_to_exclude, dataitemid, regions_to_include)


# WATCH OUT: 'Financials' has spaces after the word: 'Financials   '
#query_string = ("SELECT companyid FROM sectors WHERE TRIM(sectorName) = '{}';").format('Financials')
#query_string = "SELECT companyid FROM sectors WHERE TRIM(sectorName) = 'Financials';"
df = pd.DataFrame(sql_engine.execute(query_string).fetchall(), columns=col_names) # show all tables
print(df.shape)
print(df.head(10))
df.to_pickle(os.path.join(filepath, fundam_lookup[dataitemid] + '.pickle'))
    
#select `value_a` 
#from `table_1` 
#where `value_b` = (select `value_b` from `table_2` where `value_c` = `x`);

(2, 3)
        date  tradingitemid  gross_profit
0 2016-04-30        2642876      420340.0
1 2016-05-31        2642876      430340.0

In [4]:
# -----------------------------------------------------------------------------
# source returns MySQL database
# -----------------------------------------------------------------------------

# for returns we need total ret adj for splits and dividends
# if total shares outstanding is not adj, then we need unadj prices as well
# to calculate market cap (filter for backtest)
col_names = ['date', 'tradingitemid', 'priceCloseAdj'] # 'value'

# ************
# ************
# priceCloseAdj or priceClose ?? priceClose / adjustmentfactor
# ************
# ************
query_string = ("""SELECT pricingdate, p.tradingitemid, 
                priceClose / adjustmentfactor
                FROM prices p JOIN (SELECT DISTINCT companyid, tradingitemid 
                FROM fundamdata) AS f 
                ON p.tradingitemid = f.tradingitemid
                WHERE pricingDate > '{}' 
                AND companyid NOT IN (SELECT companyid FROM sectors WHERE 
                TRIM(sectorName) IN {}) AND 
                companyid IN (SELECT DISTINCT companyid FROM regions WHERE 
                TRIM(region) IN {})
                ORDER BY tradingitemid, pricingdate;""").format(start_date,
                sectors_to_exclude, regions_to_include)
df = pd.DataFrame(sql_engine.execute(query_string).fetchall(), columns=col_names) # show all tables
print(df.shape)
print(df.head(10))

df.to_pickle(os.path.join(filepath, 'priceCloseAdj' + '.pickle'))


# priceClose not adjusted
# raw prices (not adjusted) for market cap inn case total shares outstanding
# isn't adjusted
col_names = ['date', 'tradingitemid', 'priceCloseNotAdj'] 
query_string = ("""SELECT pricingdate, p.tradingitemid, 
                priceClose
                FROM prices p JOIN (SELECT DISTINCT companyid, tradingitemid 
                FROM fundamdata) AS f 
                ON p.tradingitemid = f.tradingitemid
                WHERE pricingDate > '{}' 
                AND companyid NOT IN (SELECT companyid FROM sectors WHERE 
                TRIM(sectorName) IN {}) AND 
                companyid IN (SELECT DISTINCT companyid FROM regions WHERE 
                TRIM(region) IN {})
                ORDER BY tradingitemid, pricingdate;""").format(start_date,
                sectors_to_exclude, regions_to_include)
df = pd.DataFrame(sql_engine.execute(query_string).fetchall(), columns=col_names) # show all tables
print(df.shape)
print(df.head(10))

df.to_pickle(os.path.join(filepath, 'priceCloseNotAdj' + '.pickle'))

(2, 3)
        date  tradingitemid  priceCloseAdj
0 2016-04-01        2642876          11.57
1 2016-04-30        2642876           5.68
(2, 3)
        date  tradingitemid  priceCloseNotAdj
0 2016-04-01        2642876             11.57
1 2016-04-30        2642876             11.36

In [8]:
# -----------------------------------------------------------------------------
# source sectors and regions/countries MySQL database
# -----------------------------------------------------------------------------
col_names = ['tradingitemid', 'sectorname'] 
query_string = ("""SELECT tradingitemid, TRIM(sectorname)
                FROM sectors s 
                JOIN (SELECT DISTINCT companyid, tradingitemid 
                FROM fundamdata) AS f 
                ON s.companyid = f.companyid
                WHERE s.companyid NOT IN (SELECT companyid FROM sectors WHERE 
                TRIM(sectorName) IN {}) AND 
                s.companyid IN (SELECT DISTINCT companyid FROM regions WHERE 
                TRIM(region) IN {})
                ORDER BY tradingitemid;""").format(sectors_to_exclude, regions_to_include)
df = pd.DataFrame(sql_engine.execute(query_string).fetchall(), columns=col_names) # show all tables
print(df.shape)
print(df.head(10))
df.to_pickle(os.path.join(filepath, 'sectorname' + '.pickle'))

col_names = ['tradingitemid', 'region'] 
query_string = ("""SELECT tradingitemid, TRIM(region)
                FROM regions r 
                JOIN (SELECT DISTINCT companyid, tradingitemid 
                FROM fundamdata) AS f 
                ON r.companyid = f.companyid
                WHERE r.companyid NOT IN (SELECT companyid FROM sectors WHERE 
                TRIM(sectorName) IN {}) AND 
                r.companyid IN (SELECT DISTINCT companyid FROM regions WHERE 
                TRIM(region) IN {})
                ORDER BY tradingitemid;""").format(sectors_to_exclude, regions_to_include)
df = pd.DataFrame(sql_engine.execute(query_string).fetchall(), columns=col_names) # show all tables
print(df.shape)
print(df.head(10))
df.to_pickle(os.path.join(filepath, 'region' + '.pickle'))

# country
col_names = ['tradingitemid', 'isoCountry2'] 
query_string = ("""SELECT tradingitemid, TRIM(isoCountry2)
                FROM regions r 
                JOIN (SELECT DISTINCT companyid, tradingitemid 
                FROM fundamdata) AS f 
                ON r.companyid = f.companyid
                WHERE r.companyid NOT IN (SELECT companyid FROM sectors WHERE 
                TRIM(sectorName) IN {}) AND 
                r.companyid IN (SELECT DISTINCT companyid FROM regions WHERE 
                TRIM(region) IN {})
                ORDER BY tradingitemid;""").format(sectors_to_exclude, regions_to_include)
df = pd.DataFrame(sql_engine.execute(query_string).fetchall(), columns=col_names) # show all tables
print(df.shape)
print(df.head(10))
df.to_pickle(os.path.join(filepath, 'isoCountry2' + '.pickle'))

(1, 2)
   tradingitemid              sectorname
0        2642876  Information Technology
(1, 2)
   tradingitemid                    region
0        2642876  United States and Canada
(1, 2)
   tradingitemid isoCountry2
0        2642876          US